<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Represented date:</b>
  <%= @customer.represented_date %>
</p>

<ul>
<% @products.each do |product| %>
  <li>Product Name: <%= product.name %></li>
  <li>Product Description: <%= product.description %></li>
  <li>Product Price: <%= product.price %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
